    body {
        font-family: 'KoHo', sans-serif;
        background-color: #000;
        color: #0ece34;
    }
    
    nav {
        background-color: #000;
    }
    
    .navbar-brand {
        font-family: 'VT323', monospace;
        color: #0ece34 !important;
        font-size: 2rem;
    }
    
    .btn {
        border: 1px solid #0ece34 !important;
        color: #0ece34;
    }
    
    label {
        color: #0ece34 !important;
        white-space: nowrap;
    }
    
    .w-50 {
        font-family: 'VT323', monospace;
        font-size: 1.1rem;
        color: #0ece34;
    }
    
    .resultado {
        background-color: #000;
        border: 2px solid #0ece34;
        min-height: 60vh;
        width: 100%;
    }
    
    .mensaje {
        animation: blink 1s linear;
    }
    
    @keyframes blink {
        10% {
            opacity: 0;
        }
    }